@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de Registro";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="card-body text-center">
                    @{
                        if (Model.DisplayConfirmAccountLink)
                        {
                            <p>
                               <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haz clic aquí para confirmar tu cuenta</a>
                            </p>
                        }
                        else
                        {
                            <p>
                                Por favor, revisa tu correo electrónico para confirmar tu cuenta.
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

