@model Tienda_Electronica.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Categoria</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="ID_Categoria" class="form-control" type="hidden" />
                <span asp-validation-for="ID_Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Categoria" class="control-label"></label>
                <input asp-for="Nombre_Categoria" class="form-control" />
                <span asp-validation-for="Nombre_Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_Categoria" class="control-label"></label>
                <input asp-for="Descripcion_Categoria" class="form-control" />
                <span asp-validation-for="Descripcion_Categoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
